* {
    box-sizing: border-box;
}

/*********************************

    MAIN WRAPPER

*********************************/

main {
    padding: 1rem;
}


/*********************************

    FONT STYLES

*********************************/


// @font-face {
//     font-family: 'ProximaNova';
//     src: url('../assets/fonts/proxima-nova/ProximaNova-Regular/ProximaNova-Regular.eot#iefix') format('embedded-opentype'), 
//          url('../assets/fonts/proxima-nova/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
//          url('../assets/fonts/proxima-nova/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'),
//          url('../assets/fonts/proxima-nova/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova') format('svg');
//     font-weight: normal;
//     font-style: normal;
//   }



// @font-face {
//     font-family: 'ProximaNova-bold';
//     src: url('../assets/fonts/proxima-nova/ProximaNova-SemiBold/ProximaNova-SemiBold.eot#iefix') format('embedded-opentype'), 
//          url('../assets/fonts/proxima-nova/ProximaNova-SemiBold/ProximaNova-SemiBold.woff') format('woff'),
//          url('../assets/fonts/proxima-nova/ProximaNova-SemiBold/ProximaNova-SemiBold.ttf')  format('truetype'),
//          url('../assets/fonts/proxima-nova/ProximaNova-SemiBold/ProximaNova-SemiBold.svg#ProximaNova') format('svg');
//     font-weight: normal;
//     font-style: normal;
//   }

body * {
    font-family: ProximaNova;
}  

.title {
    color: #009ddf;
    font-family: 'ProximaNova-bold';
    margin-top: 2rem;
}

.section-title {
    padding-left: 1rem;
    color: #000;
}

 /*********************************

    LOGO

*********************************/


.logo {
    max-width: 160px;
}


/*********************************

    COPY NOTIFICATION

*********************************/

#copy-notification {
    background-color: #5cd882;
    color: #fff;
    padding: 0;
    text-align: center;
    max-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 1s ease;
    overflow: hidden;
}

#copy-notification.show {
    padding: 10px 0px;
    max-height: 100px;
}

#copy-notification p {
    font-size: 18px;
    margin: 0;
    font-family: sans-serif;
}

/*********************************

    SELECT INPUT

*********************************/

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }

select {
    padding: 10px 30px;
    display: block;
    border: 1px solid #d4d4d4;
    height: 36px;
    background: transparent;
    border-radius: 0;
    width: 100%;
    pointer-events: all;
  }




/*********************************

    BUTTON INPUT

*********************************/

.btn {

    background-color: transparent;
    border: 1px solid #064b99;
    padding: 10px 30px;
    color: #064b99;
    font-size: 13px;
    margin: 0 1rem;
    margin-bottom: 8px;
    &:hover {
        cursor: pointer;
        background-color: #064b99;
        color: #fff;
    }
    &--first {
        margin-left: 0;
    }
}

.btn.active {
    background-color: #064b99;
    color: #fff;
    &:hover {
        background-color: #033771;
        color: #fff;
    }
}


/*********************************

    CHECKBOX INPUT

*********************************/

fieldset {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    position: relative;
}

.param-fieldset label {
    font-size: 1rem;
}

div.param-tooltip::after {
    content: '';
    padding: 10px 20px;
    background-color: #e6e6e6;
    position: absolute;
    bottom: -42px;
    left: -6px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    min-width: 122px;
}

div.param-tooltip::before {
    content: '';
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    position: absolute;
    top: 10px;
    left: -3px;
  
    border-bottom: 8px solid #e6e6e6;

    opacity: 0;
    visibility: hidden;
}

div.param-tooltip {
    background-image: url('../assets/icons/info.svg');
    width: 10px;
    height: 10px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    left: -5px;
    top: 7px;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

div.param-tooltip:hover::after,
div.param-tooltip:hover::before {
    opacity: 1;
    visibility: visible;
}

/*********************************

    TOOLTIP INFO

*********************************/

div.param-tooltip:after {
    content: attr(data-title);
}

/*********************************

    GENERAL SECTION LAYOUT

*********************************/

.link-generator {
    width: 226px;
}

.section-container {

    display: flex;
    flex-wrap: wrap;
    max-width: 610px;
    padding-left: 1rem;
    position: relative;
}

.title-section {
    position: relative;
    padding-top: 2rem;
    padding-left: 1rem;
}



.results-container::before,
.title-section::before,
.download-section::before {
    content: "";
    width: calc(100vw - 10vw);
    height: 1px;
    background-color: #c3c3c3;
    position: absolute;
    right: 0;
    left: 0;
}

.download-section::before {
        top: -88px;
}


/*********************************

    BUTTON SECTION LAYOUT

*********************************/


/*********************************

    SELECT SECTION LAYOUT

*********************************/

.select-dropdown-container {
    fieldset {
        padding: 0;
        margin: 8px 1rem;
        flex-basis: 226px;
        pointer-events: none;
        position: relative;
        &:nth-child(odd) {
            margin-left: 0;
        }
    }

    fieldset::after {
        content: url('../assets/icons/icons-arrows-dropdown-black.svg');
        width: 40px;
        height: 25px;
        position: absolute;
        right: 0;
        top: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }
}



/*********************************

    CHECKBOX SECTION LAYOUT

*********************************/

.params-container {
    margin-top: 1rem;
    .inner-param-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        fieldset {
            width: 25%;
            margin: 0px;
        }
    }

    .deeplinkParamCheckBox + .deeplinkParamValue  {
        display: none;
    }
    
    .deeplinkParamCheckBox:checked + .deeplinkParamValue {
        display: block;
    }

    input {
        max-width: 84px;
    }
}


/*********************************

    RESULTS LAYOUT

*********************************/
.results-container {

    position: relative;
    margin-top: 2rem;
    padding-left: 1rem;

    fieldset{
        width: 100%;
        padding-left: 0;
    }

    #result {
        margin: 2rem 0;
        display: block;
        width: 100%;
        margin-right: 10px;
        padding: 10px 30px;
        padding-left: 1rem;
        display: block;
        border: 1px solid #d4d4d4;
        height: 35px;
        font-size: 13px;
    }

    .btn {
        max-width: calc(33.3% - 1.5rem);
        background-color: #064b99;
        color: #fff;
        &:hover {
            background-color: #033771;
            color: #fff;
        }
    }

    .btn:first-of-type {
        margin-left: 0;
    }

    .btn:last-of-type {
        margin-right: 0;
    }

    .result-cta-section {
        width: 100%;
        padding-left: 0;
        display: flex;
        .btn {
            flex-grow: 1;
        }
    }

}

/*********************************

    DOWNLOAD LAYOUT

*********************************/
.download-title {
    margin-top: 4rem;
}
.download-section {
    margin-top: 2rem;
}


/*********************************

   MOBILE LAYOUT

*********************************/


@media screen and (max-width: 580px) {

    main {
        padding: 0 1rem;
    }

    .button-container {
        padding: 0 1rem;
        .btn {
            width: 100%;
            margin: .5rem 0;
        }
    }

    .select-dropdown-container {
        fieldset {
           flex-grow: 1;
           margin-left: 0;
        }
    }

    .params-container {
        .inner-param-container {
            fieldset {
                width: 50%;
            }
        }
    }

    .results-container {
        .result-cta-section {

            button.btn {
                margin: .5rem 0;
                flex-grow: 1;
                max-width: none;
                width: 100%;
            }
        }
        #result {
            height: auto;
        }
    }

    .results-container {
        padding-left: 0;
        #result {
            margin: 1rem 0;
        }
    }
}